.header {
    position: absolute;
    font-family: "Rubik Mono One", monospace;
    z-index: 9999;

    width: 100%;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;

    &-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 10px;
        height: 30px;
    }

    &-logo {
        font-size: 2.2rem;
        cursor: pointer;

        &:hover {
            text-shadow: 0 0 20px rgb(9, 134, 176);
            // text-shadow: 0 0 20px rgb(110, 24, 248);
        }
    }

    &-list {
        list-style-type: none;
        padding: 0;
        margin: 0;

        a {
            text-decoration: none;
            color: white;

            &:visited {
                color: white;
            }
            &:focus {
                color: white;
            }

            &:hover {
                color: rgba(2, 156, 252, 0.849);
            }
        }

        &__info {
            display: inline-block;
            margin-right: 20px;
            cursor: pointer;
            font-size: 1.5rem;
            // font-weight: bold;
            word-spacing: -15px;

            &:hover {
                color: rgba(2, 156, 252, 0.849);
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }

    @media (max-width: 1200px) {
        .header {
            &-container {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0 30px;
                height: 30px;
            }

            &-logo {
                font-size: 2rem;
            }
            &-list {
                &__info {
                    font-size: 1.2rem;
                    word-spacing: -10px;
                }
            }
        }
    }

    @media (max-width: 768px) {
        .header {
            &-container {
                flex-direction: column;

                ul {
                    margin-top: 10px;
                }
            }

            &-logo {
                font-size: 3rem;
            }

            &-list {
                display: grid;
                grid-template-columns: repeat(3, 170px);
                justify-content: center;
                align-items: center;

                a {
                    &:hover {
                        color: white;
                    }
                }
                &__info {
                    font-size: 1rem;
                    margin-right: 0px;
                    &:hover {
                        color: white;
                    }
                }
            }
        }
    }

    @media (max-width: 576px) {
        .header {
            &-logo {
                font-size: 2.7rem;
            }

            &-container {
                flex-direction: column;
                gap: 5px;
            }

            &-list {
                grid-template-columns: repeat(3, 106px);
                gap: 1px;

                &__info {
                    // font-size: 0.8rem;
                    font-size: 13px;
                    word-spacing: -5px;
                }
            }
        }
    }
}
