.header {
    position: absolute;
    // top: 0;
    // left: 0;
    z-index: 9999;

    width: 100%;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;

    &-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 10px;
        height: 30px;
    }

    &-logo {
        font-size: 3.5rem;
        font-weight: bold;
    }

    &-list {
        list-style-type: none;
        padding: 0;
        margin: 0;

        &__button {
            display: inline-block;
            margin-right: 20px;
            cursor: pointer;
            font-size: 1.5rem;
            font-weight: bold;

            &:hover {
                color: rgba(2, 156, 252, 0.849);
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }

    @media (max-width: 768px) {
        .header {
            &-logo {
                font-size: 2rem;
            }

            &-container {
                flex-direction: column;

                ul {
                    margin-top: 10px;
                }
            }

            &-list {
                &__button {
                    // font-size: 0.6rem;
                }
            }
        }
    }

    @media (max-width: 576px) {
        .header {
            &-logo {
                font-size: 1.4rem;
            }

            &-container {
                flex-direction: column;

                ul {
                    margin-top: 5px;
                }
            }

            &-list {
                &__button {
                    font-size: 0.8rem;
                }
            }
        }
    }
}
