.container {
    width: 100%; /* Ширина контейнера занимает всю доступную ширину */
    max-width: 1200px; /* Максимальная ширина контейнера, чтобы контент не разъезжался на очень широких экранах */
    margin: 0 auto;
}
