$index: calc(1vw + 1vh);

.programs {
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;

    &__items {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.4em;
        perspective: calc(#{$index} * 35);

        &-item {
            width: calc(#{$index} * 3);
            height: calc(#{$index} * 12);
            background-color: #222;
            object-fit: cover;
            cursor: pointer;
            filter: grayscale(100%) brightness(0.5);

            &:hover {
                filter: inherit;
                transform: translateZ(calc(#{$index} * 11));

                /* Right */
                + * {
                    filter: inherit;
                    transform: translateZ(calc(#{$index} * 8.5));
                    z-index: -1;

                    + * {
                        filter: inherit;
                        transform: translateZ(calc(#{$index} * 5.6));
                        z-index: -2;

                        + * {
                            filter: inherit;
                            transform: translateZ(calc(#{$index} * 2.4));
                            z-index: -3;

                            + * {
                                filter: inherit;
                                transform: translateZ(calc(#{$index} * 0.6));
                                z-index: -4;
                            }
                        }
                    }
                }
            }
            /* Left */

            &:has(+ :hover) {
                filter: inherit;
                transform: translateZ(calc(#{$index} * 8.5));

                &:has(+ * + :hover) {
                    filter: inherit;
                    transform: translateZ(calc(#{$index} * 5.6));

                    &:has(+ * + * + :hover) {
                        filter: inherit;
                        transform: translateZ(calc(#{$index} * 2.4));

                        &:has(+ * + * + * + :hover) {
                            filter: inherit;
                            transform: translateZ(calc(#{$index} * 0.6));
                        }
                    }
                }
            }
        }
    }
}
