$index: calc(1vw + 1vh);
$transition: cubic-bezier(0.1, 0.7, 0, 1);

.programs {
    margin-top: 40px;
    height: 700px;
    display: flex;
    // align-items: center;
    justify-content: center;

    &__text {
        font-family: "Rubik Mono One", monospace;
        width: 100%;
        display: flex;
        justify-content: center;

        h1 {
            width: 75%;
            color: #ffffff;
            text-align: center;
            font-size: 32px;
            // margin: 50px 0 70px 0;
            font-weight: 100;
        }
    }

    &__items {
        position: relative;
        margin-top: 75px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.4em;
        perspective: calc($index * 35);

        &-item {
            width: calc($index * 3);
            height: calc($index * 12);
            background-color: #222;
            background-size: cover;
            background-position: center;
            cursor: pointer;
            filter: grayscale(100%) brightness(0.5);
            position: relative;
            transition: transform 1.25s $transition, filter 3s $transition,
                width 1.5s $transition;
            will-change: transform, filter;

            &:hover {
                width: 15vw;
                filter: inherit;
                z-index: 100;
                transform: translateZ(calc($index * 10));
                margin: 0 0.45vw;
            }

            &:before {
                content: "";
                position: absolute;
                width: 30px;
                height: 100%;
                right: calc(#{$index} * -1);
            }

            &:after {
                content: "";
                position: absolute;
                top: 0;
                width: 30px;
                height: 100%;
                left: calc(#{$index} * -1);
            }

            &:hover {
                filter: inherit;
                transform: translateZ(calc(#{$index} * 10));

                /* Right */
                + * {
                    filter: inherit;
                    transform: translateZ(calc(#{$index} * 8.5)) rotateY(35deg);
                    z-index: -1;

                    + * {
                        filter: inherit;
                        transform: translateZ(calc(#{$index} * 5.6))
                            rotateY(40deg);
                        z-index: -2;

                        + * {
                            filter: inherit;
                            transform: translateZ(calc(#{$index} * 2.4))
                                rotateY(30deg);
                            z-index: -3;

                            + * {
                                filter: inherit;
                                transform: translateZ(calc(#{$index} * 0.6))
                                    rotateY(14deg);
                                z-index: -4;
                            }
                        }
                    }
                }
            }

            /* Left */
            &:has(+ :hover) {
                filter: inherit;
                transform: translateZ(calc(#{$index} * 8.5)) rotateY(-35deg);
            }
            &:has(+ * + :hover) {
                filter: inherit;
                transform: translateZ(calc(#{$index} * 5.6)) rotateY(-40deg);
            }
            &:has(+ * + * + :hover) {
                filter: inherit;
                transform: translateZ(calc(#{$index} * 2.4)) rotateY(-30deg);
            }
            &:has(+ * + * + * + :hover) {
                filter: inherit;
                transform: translateZ(calc(#{$index} * 0.6)) rotateY(-14deg);
            }
        }
    }

    &__description {
        overflow: hidden;
        padding: 15px 10px;

        &-item {
            padding-bottom: 6px;
            width: 14vw;
            font-size: 15px;
            // letter-spacing: -0px;

            &:first-of-type {
                padding-bottom: 10px;
                font-size: 25px;
                letter-spacing: normal;
                font-weight: bold;
            }
        }
    }

    &__btn {
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
        cursor: pointer;

        button {
            background-color: rgb(235, 235, 6);
            border: none;
            border-radius: 5px;
            height: 25px;
            font-size: 13px;
            font-weight: bold;
        }
    }
}

@media (max-width: 1200px) {
    .programs {
        &__description {
            padding: 15px 10px;

            &-item {
                padding-bottom: 5px;
                font-size: 8px;
                letter-spacing: -0px;

                &:first-of-type {
                    padding-bottom: 10px;
                    font-size: 13px;
                    letter-spacing: normal;
                }
            }
        }

        &__btn {
            position: absolute;
            top: 80%;
            left: 50%;
            transform: translate(-50%, -50%);

            button {
                font-size: 10px;
                height: 25px;
            }
        }
    }
}

@media (max-width: 768px) {
    .programs {
        height: auto;

        &__items {
            margin-top: 30px;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(4, 300px);
            column-gap: 0.4em;
            row-gap: 15px;
            align-items: center;
            justify-content: center;

            &-item {
                width: 85%;
                height: 90%;
                margin: 0 auto;

                &:hover {
                    width: 92%;
                    height: 100%;
                    filter: inherit;
                    z-index: 100;

                    margin: 0 auto;
                }

                &:hover {
                    filter: inherit;
                    transform: none;

                    /* Right */
                    + * {
                        filter: grayscale(100%) brightness(0.5);
                        transform: none;
                        z-index: -1;

                        + * {
                            filter: grayscale(100%) brightness(0.5);
                            transform: none;
                            z-index: -2;

                            + * {
                                filter: grayscale(100%) brightness(0.5);
                                transform: none;
                                z-index: -3;

                                + * {
                                    filter: grayscale(100%) brightness(0.5);
                                    transform: none;
                                    z-index: -4;
                                }
                            }
                        }
                    }
                }
                /* Left */
                &:has(+ :hover) {
                    filter: grayscale(100%) brightness(0.5);

                    transform: none;
                }
                &:has(+ * + :hover) {
                    filter: grayscale(100%) brightness(0.5);

                    transform: none;
                }
                &:has(+ * + * + :hover) {
                    filter: grayscale(100%) brightness(0.5);

                    transform: none;
                }
                &:has(+ * + * + * + :hover) {
                    filter: grayscale(100%) brightness(0.5);
                    transform: none;
                }
            }
        }

        &__description {
            &-item {
                color: white;
                padding-bottom: 5px;
                font-size: 13px;
                letter-spacing: 1px;
                width: 100%;

                &:first-of-type {
                    width: 100%;
                    padding-bottom: 30px;
                    font-size: 30px;
                    letter-spacing: normal;
                }
            }
        }

        &__btn {
            top: 80%;
            left: 50%;
            transform: translate(-50%, -50%);

            button {
                font-size: 15px;
                height: 30px;
            }
        }
    }
}

@media (max-width: 576px) {
    .programs {
        margin-top: 40px;
        margin-bottom: 40px;

        &__items {
            margin-top: 20px;
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(8, 300px);
            column-gap: 0.4em;
            row-gap: 15px;
            align-items: center;
            justify-content: center;

            &-item {
                width: 85%;
                height: 90%;
                margin: 0 auto;

                &:hover {
                    width: 92%;
                    height: 100%;
                    filter: inherit;
                    z-index: 100;

                    margin: 0 auto;
                }
            }
        }
        &__description {
            &-item {
                color: white;
                padding-bottom: 5px;
                font-size: 19px;
                letter-spacing: 1px;
                width: 100%;
                font-weight: 600;

                &:first-of-type {
                    width: 100%;
                    padding-bottom: 30px;
                    font-size: 27px;
                }
            }
        }

        &__btn {
            top: 85%;
            left: 50%;
            transform: translate(-50%, -50%);

            button {
                font-size: 18px;
                height: 32px;
            }
        }

        &__text {
            h1 {
                width: 95%;
                color: #ffffff;
                font-size: 1.5em;
            }
        }
    }
}
